@import '../variables.css';
@import './dashboard.css';
@import './admin-layout.css';
@import '../components/table.css';
@import '../components/modal.css';
@import '../components/form.css';
@import '../components/button.css';


.main-dashboard {
    flex: 1 !important; 
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: var(--white-color);
    min-width: 0; 
}

.table {
    width: 100% !important;
    border-collapse: collapse;
}

/* Estilos específicos para categorías */
.category-description {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .category-description {
        max-width: 200px;
    }
}