:root {
    --primary-color: #fd745c;
    --background-color: #f0f0f0;
    --text-color: #4e4b4b;
    --white-color: #fff;
    --border-color: #ddd;
    --focus-color: #ff4500;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    --disponible: #1e941a;
    --agotado: #9e1919;
    --error-color: #ff0000;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/Montserrat-Medium.ttf') format('truetype');
}