@import '../variables.css';

body {
    background-image: linear-gradient(to right, var(--focus-color), var(--primary-color));    
}

.registro-card {
    margin: 20vh auto;
    width: 90%;
    text-align: center;
    max-width: 420px;
    padding: 30px;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    box-shadow: var(--shadow);
    background-color: var(--white-color);
    font-family: 'Montserrat-Medium', sans-serif;
}

.registro-card__logo {
    margin: 10px 0 0 0;
    color: var(--primary-color);
    font-size: 2.4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.registro-card__title {
    margin: 7px 0 25px 0;
    color: var(--text-color);
    font-size: 1.3em;
    font-weight: 400;
}

.registro-card__form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.registro-card__label {
    display: block;
    margin-bottom: 2px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 0.9em;
    text-align: left;
}

.registro-card__input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1.5px solid var(--border-color);
    border-radius: 7px;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 0.95em;
    transition: border-color 0.3s;
}

.registro-card__input:focus {
    outline: none;
    border-color: var(--focus-color);
    border-width: 1.8px;
}

.registro-card__error-message {
    color: var(--error-color);
    font-size: 0.82em;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 5px;
    display: none;
}

.registro-card__button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat-Medium', sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

.registro-card__button:hover {
    background-color: var(--focus-color);
}

.registro-card__footer {
    margin-top: 20px;
    color: var(--text-color);
    text-align: center;
    font-size: 1em;
}

.registro-card__text {
    margin-bottom: 4px;
}

.registro-card__link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    
}

.registro-card__link:hover {
    text-decoration: underline;
}